<section class="spotlight">
  Media Spotlight:
  <%= @spotlight.title %> by <%= @spotlight.creator %>
</section>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Top Movies</th>
      <th scope="col">Top Books</th>
      <th scope="col">Top Albums</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Movie 1</td>
      <td>Book 1</td>
      <td>Album 1</td>
    </tr>
  </tbody>
</table>  
