<section class="spotlight">
  Media Spotlight:
  <%= @spotlight.title %> by <%= @spotlight.creator %>
</section>

<table>
  <tr>
    <th>Top Movies</th>
    <th>Top Books</th>
    <th>Top Albums</th>
  </tr>
</table>  
